$tg-theme-bg-color: #FFF !default;
$tg-theme-secondary-bg-color: #F3F2F8 !default;
$tg-theme-text-color: #111 !default;
$tg-theme-button-color: #59B7FF !default;
$tg-theme-header-bg-color: #def1fd !default;
$tg-theme-hint-color: #777 !default;